<?php include($VIEW_PATH . "/_public/header.html"); ?>
<ul class="breadcrumb">
    <li><a href="<?=Core::url(array('m' => 'index', 'a' => 'index'))?>">首页</a> <span class="divider">/</span></li>
    <li><a href="<?=Core::url(array('m' => 'statistics', 'a' => 'flow'))?>">短信记录</a> <span class="divider">/</span></li>
    <li class="active">列表</li>
</ul>
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="5%"><input id="all_checked" type="checkbox" value="all" /></th>
            <th width="25%">保卡号</th>
            <th width="25%">手机号</th>
            <th width="15%">验证码</th>
            <th width="15%">创建时间</th>
        </tr>
    </thead>
    <tbody id="seller_list">
    </tbody>
</table>
<div class="pagination pull-right"></div>
<script id="seller_item_template" type="text/template">
    <td width="5%"><input type="checkbox" name="row_checked" value="<%=id%>" /></td>
    <td><a href="javascript:void(0);" class="edit-link"><%=name%></a></td>
    <td><%=store_name%></td>
    <td><%=mobile%></td>
    <td><%=(status == 1 ? '是' : '否')%></td>
    <td><%=created%></td>
</script>
<?php include($VIEW_PATH . "/_public/footer.html") ?>